{{!-- YouTube Embed Partial
     Usage: {{> "embed-youtube" videoid="dQw4w9WgXcQ" title="Video Title"}}
     Uses lite-youtube-embed for performance (~1KB vs 500KB official embed)
--}}

<div class="embed embed--youtube {{#if @root.class}}{{@root.class}}{{/if}}">
    <lite-youtube
        videoid="{{videoid}}"
        {{#if title}}playlabel="Play: {{title}}"{{/if}}
        params="rel=0"
    >
        {{#if title}}
        <a href="https://youtube.com/watch?v={{videoid}}" class="lty-playbtn" title="Play: {{title}}">
            <span class="lyt-visually-hidden">Play: {{title}}</span>
        </a>
        {{/if}}
    </lite-youtube>
    {{#if caption}}
    <p class="embed__caption">{{caption}}</p>
    {{/if}}
</div>
